@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

body{
    display: flex;
    flex-direction: column;
    font-family: Roboto, "Times New Roman", sans-serif ;

}

ul{
    list-style-type: none;
}

.header{
    background-color: #1f2937;
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

.header-links ul{
color: #e5e7eb;
font-size: 18px;
    display: flex;
    gap: 24px;
    padding-right: 300px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 300px;
}

.top{
 display: flex;
 justify-content: space-between;
 padding-top: 100px;
 background-color: #1f2937;
 color: #e5e7eb;
}

.top-left{
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    width: 400px;
    height: 400px;
}
.top img{
    width: 300px;
    height: 250px;
    flex: 1;
    padding-right: 300px;
    margin-left: 200px;
}

.top button{
    flex-shrink: 0;
    height: 28px;
    width: 124px;
    background-color: #3882F6;
    border-radius: 10px;
    border-color: #3882F6;
    color:#F9FAF8 ;
    font-size: 18px;
    
}

.top h1{
    margin-bottom: 0;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.top p{
    color: #e5e7eb;
    font-size: 18px;
}

