@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

body{
    display: flex;
    flex-direction: column;
    font-family: Roboto, "Times New Roman", sans-serif ;
margin: 0;
justify-content: center;

}

ul{
    list-style-type: none;
}

.header{
    background-color: #1f2937;
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

.header-links ul{
color: #e5e7eb;
font-size: 18px;
    display: flex;
    gap: 24px;
    padding-right: 300px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 300px;
}

.top{
 display: flex;
 justify-content: space-between;
 padding-top: 82px;
 background-color: #1f2937;
 color: #e5e7eb;
}

.top-left{
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    width: 400px;
    height: 400px;
}
.top img{
    width: 600px;
    height: 250px;
    padding-right: 300px;
    margin-left: 200px;
    
}

.top button{
    flex-shrink: 0;
    height: 28px;
    width: 124px;
    background-color: #3882F6;
    border-radius: 5px;
    border-color: #3882F6;
    color:#F9FAF8 ;
    font-size: 18px;
}

.top h1{
    margin-bottom: 0;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.top p{
    color: #e5e7eb;
    font-size: 18px;
}

.mid{
    display: flex;
    flex-direction: column;
align-items: center;
}

.image-square{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.squares{
    width: 166px;
    text-align: center;
    font-size: 18px;
    padding-bottom: 100px;
}

.squares img{
    width: 166px;
    height: 166px;
    border-radius: 15px;
}

.mid h2{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.top-bot{
    padding-left: 550px;
    padding-right: 550px;
    padding-bottom: 50px;
    padding-top: 78px;
    background-color: #e5e7eb ;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight:250;
}

.blue-bot{
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 15px;
    align-items: center;
    color: #F9FAF8;
    padding-bottom: 36px;
    padding-top: 36px;
}

.blue-bot button{
    height: 28px;
    width: 124px;
    background-color: #3882F6;
    border-color: #F9FAF8;
    border-radius: 5px;
    color: #F9FAF8;
    font-weight: 900;
    
    
}

.bot{
    padding:100px;
    align-self: ;
}

.blue-bot p{
    margin-top: 0;
    
}

.blue-bot h2{
    margin-bottom: 0;
}

.footer{
    background-color:#1f2937 ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    font-size: 12px;
    height: 66px;
}


